# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gorm_work\xorm_exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
